{% load django_vite %}
<!DOCTYPE html> 
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% block meta %}
    {% endblock meta%}

    <title>
        {% block title %}
            {{ settings.company_name|default:"fallback_value" }}
        {% endblock title%}
    </title>

    {% vite_hmr_client %}
    {% vite_asset 'assets/styles/style.css' %}

</head>
<body class="bg-amber-50 ">
    {% include 'core/navbar.html' %}

    <p class="text-center text-2xl font-bold text-gray-800 py-4"> The company name is:
        <span>
            {{ settings.company_name|default:"fallback_value" }}
        </span>
    </p>
    {% block content %}
    {% endblock content%}

    {% include 'core/footer.html' %}
</body>
</html>