@import 'tailwindcss';
@plugin "daisyui"{
  themes: myTheme --default, myThemeDark --prefersdark;
}



@plugin "daisyui/theme" {
  name: "myTheme";
  default: true; /* set as default */
  prefersdark: false; /* set as default dark mode (prefers-color-scheme:dark) */
  color-scheme: light; /* color of browser-provided UI */

    --color-base-100: oklch(98% 0 0);
  --color-base-200: oklch(97% 0.001 106.424);
  --color-base-300: oklch(92% 0.003 48.717);
  --color-base-content: oklch(20% 0 0);
  --color-primary: oklch(96% 0.059 95.617);
  --color-primary-content: oklch(37% 0.013 285.805);
  --color-secondary: oklch(52% 0.105 223.128);
  --color-secondary-content: oklch(98% 0.022 95.277);
  --color-accent: oklch(43% 0.078 188.216);
  --color-accent-content: oklch(97% 0 0);
  --color-neutral: oklch(14% 0.005 285.823);
  --color-neutral-content: oklch(92% 0.004 286.32);
  --color-info: oklch(74% 0.16 232.661);
  --color-info-content: oklch(29% 0.066 243.157);
  --color-success: oklch(76% 0.177 163.223);
  --color-success-content: oklch(37% 0.077 168.94);
  --color-warning: oklch(82% 0.189 84.429);
  --color-warning-content: oklch(41% 0.112 45.904);
  --color-error: oklch(71% 0.194 13.428);
  --color-error-content: oklch(27% 0.105 12.094);

  /* border radius */
  --radius-selector: 2rem;
  --radius-field: 2rem;
  --radius-box: 0.5rem;

  /* base sizes */
  --size-selector: 0.25rem;
  --size-field: 0.25rem;

  /* border size */
  --border: 1px;

  /* effects */
  --depth: 1;
  --noise: 0;
}


@plugin "daisyui/theme" {
  name: "myThemeDark";
  default: false;
  prefersdark: true;
  color-scheme: "dark";
  --color-base-100: oklch(37% 0.013 285.805);
  --color-base-200: oklch(26% 0 0);
  --color-base-300: oklch(21% 0.006 56.043);
  --color-base-content: oklch(98% 0.002 247.839);
  --color-primary: oklch(96% 0.059 95.617);
  --color-primary-content: oklch(37% 0.013 285.805);
  --color-secondary: oklch(52% 0.105 223.128);
  --color-secondary-content: oklch(98% 0.022 95.277);
  --color-accent: oklch(43% 0.078 188.216);
  --color-accent-content: oklch(97% 0 0);
  --color-neutral: oklch(14% 0.005 285.823);
  --color-neutral-content: oklch(92% 0.004 286.32);
  
  --color-info: oklch(74% 0.16 232.661);
  --color-info-content: oklch(29% 0.066 243.157);
  --color-success: oklch(76% 0.177 163.223);
  --color-success-content: oklch(37% 0.077 168.94);
  --color-warning: oklch(82% 0.189 84.429);
  --color-warning-content: oklch(41% 0.112 45.904);
  --color-error: oklch(71% 0.194 13.428);
  --color-error-content: oklch(27% 0.105 12.094);

  /* border radius */
  --radius-selector: 2rem;
  --radius-field: 2rem;
  --radius-box: 0.5rem;

  /* base sizes */
  --size-selector: 0.25rem;
  --size-field: 0.25rem;

  /* border size */
  --border: 1px;

  /* effects */
  --depth: 1;
  --noise: 0;
}
